.env

/docs/node_modules
/docs/.env
/docs/package-lock.json

/gateway-service/node_modules
/gateway-service/.env
/gateway-service/package-lock.json

/menu-service/node_modules
/menu-service/.env
/menu-service/package-lock.json

/table-service/node_modules
/table-service/.env
/table-service/package-lock.json

/shift-service/node_modules
/shift-service/.env
/shift-service/package-lock.json